services:
  qdrant-service:
    container_name: zguby-qdrant-service
    build:
      context: ./qdrant-service
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - RABBITMQ_URL=amqp://guest:guest@zguby-rabbitmq:5672/
      - QDRANT_ADDR=zguby-qdrant:6334
      - COLLECTION_NAME=lost_items
    depends_on:
      - qdrant-db
      - rabbitmq
    restart: unless-stopped

  qdrant-db:
    container_name: zguby-qdrant
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - ./qdrant_storage:/qdrant/storage
    environment:
      - QDRANT__SERVICE__GRPC_PORT=6334
    restart: unless-stopped

  rabbitmq:
    container_name: zguby-rabbitmq
    image: rabbitmq:3.13-management-alpine
    ports:
      - "5672:5672"   # AMQP port
      - "15672:15672" # Management UI
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    volumes:
      - ./rabbitmq_data:/var/lib/rabbitmq
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 30s
      timeout: 10s
      retries: 5
    restart: unless-stopped